<div>
    <div *ngIf="currentBook.id" class="edit-form">
      <h4>Book</h4>
      <form>
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            [(ngModel)]="currentBook.title"
            name="title"
          />
        </div>
        <div class="form-group">
          <label for="author">Author</label>
          <input
            type="text"
            class="form-control"
            id="author"
            [(ngModel)]="currentBook.author"
            name="author"
          />
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <input
              type="text"
              class="form-control"
              id="city"
              [(ngModel)]="currentBook.city"
              name="city"
            />
          </div>
  
       
      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updateBook()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
    
  
    <div *ngIf="!currentBook.id">
      <br />
      <p>Cannot access this Book...</p>
    </div>
</div>